*{
    font-family: "Jost", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
 display: flex;
 background-color: #800E13;
 height: 70px;
 width: 100%;
 gap: 30px;
 justify-content: space-between;
 color: white;
 text-align: center;
 font-weight: bold;
 font-family: "Jost", sans-serif;
 box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
 align-items: center;
 position: fixed;

}

.nav .logo {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: -30px;
    
}



.nav .nav-items ul {
display: flex;
gap: 20%;
list-style: none;

}

.nav .nav-icons {
    padding-right: 20px;
    gap: 30px; 
    
}


.home-hero {
  background-image: url('assets/lshooping.avif');
  background-size: cover;
  background-position: center;
  min-height: 100vh; 
  width: 100%;
background-image: linear-gradient(rgba(0, 0, 0, 0.25)), url('assets/lshooping.avif');
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
padding : 70px
}

.hero-title, 
.hero-btn {
  position: relative;
  z-index: 2; 
}


.hero-title {
  color: #FFCB77;
  font-size: 5rem;
  margin-bottom: 20px;
  margin-top: 20px;
  opacity: 70%;
}

.hero-btn {
  padding: 12px 24px;
  background-color: #FFCB77;
  color: #800E13;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 400px;
    
  opacity: 70%;
  font-size: 1.2rem;
  font-weight: bold;

  
}